{% extends "core/base.html" %}

{% block title %}Carrito | Nebula Wear{% endblock %}

{% block content %}
<section class="cart">
    <h1>🛒 Carrito</h1>

    {% if items %}
        <ul class="cart-list">
            {% for item in items %}
                <li class="cart-item">
                    <strong>{{ item.product.title }}</strong><br>
                    Precio: ${{ item.product.price }} <br>
                    Cantidad: {{ item.quantity }} <br>
                    Subtotal: ${{ item.product.price|floatformat:2|add:""|floatformat }}
                    <a href="{% url 'remove_from_cart' item.id %}" class="remove-btn">
    ❌ Eliminar
</a>

                </li>
            {% endfor %}
        </ul>

        <hr>
        <h2>Total: ${{ total }}</h2>
    {% else %}
        <p>El carrito está vacío.</p>
    {% endif %}
</section>
{% endblock %}
